<div class="menu-container">
  
  <div class="menu-list">
    <a routerLink="/info" class="menu-item">
      <span class="menu-text">Információk</span>
      <span class="material-icons chevron">chevron_right</span>
    </a>

    <a routerLink="/muhely" class="menu-item">
      <span class="menu-text">Tematikus műhelyek</span>
      <span class="material-icons chevron">chevron_right</span>
    </a>

    <a routerLink="/eloadas" class="menu-item">
      <span class="menu-text">Fő előadók</span>
      <span class="material-icons chevron">chevron_right</span>
    </a>

    <a routerLink="/program" class="menu-item">
      <span class="menu-text">Programterv</span>
      <span class="material-icons chevron">chevron_right</span>
    </a>

    <a routerLink="/dal" class="menu-item">
      <span class="menu-text">Dalok</span>
      <span class="material-icons chevron">chevron_right</span>
    </a>

    <a routerLink="/profil" class="menu-item">
      <span class="menu-text">Fiók</span>
      <span class="material-icons chevron">chevron_right</span>
    </a>
  </div>
</div>