<div class="menu-container">
  
  <div class="menu-list">
    <a routerLink="/info" fragment="koszonto" class="menu-item">
      <span class="menu-text">Köszöntő</span>
      <span class="material-icons chevron">chevron_right</span>
    </a>

    <a routerLink="/info" fragment="hasznos-infok" class="menu-item">
      <span class="menu-text">Hasznos infók</span>
      <span class="material-icons chevron">chevron_right</span>
    </a>

    <a routerLink="/info" fragment="hazirend" class="menu-item">
      <span class="menu-text">Házirend</span>
      <span class="material-icons chevron">chevron_right</span>
    </a>

    <a routerLink="/eloadas" class="menu-item">
        <span class="menu-text">Fő előadók</span>
        <span class="material-icons chevron">chevron_right</span>
    </a>
    
    <a routerLink="/muhely" class="menu-item">
      <span class="menu-text">Tematikus műhelyek</span>
      <span class="material-icons chevron">chevron_right</span>
    </a>

    <a routerLink="/program" class="menu-item">
      <span class="menu-text">Programterv</span>
      <span class="material-icons chevron">chevron_right</span>
    </a>

    <a routerLink="/dal" class="menu-item">
      <span class="menu-text">Dalok</span>
      <span class="material-icons chevron">chevron_right</span>
    </a>

    <a routerLink="/profil" class="menu-item">
      <span class="menu-text">Fiók</span>
      <span class="material-icons chevron">chevron_right</span>
    </a>

    <a routerLink="/admin-profil" class="menu-item">
      <span class="menu-text szervezoknek">Szerkesztő felület szervezőknek</span>
      <span class="material-icons chevron">chevron_right</span>
    </a>

    <a routerLink="/login" class="menu-item logout-item">
      <span class="material-icons menu-icon">logout</span>
      <span class="menu-text">Kijelentkezés</span>
      <span class="material-icons chevron">chevron_right</span>
    </a>
  </div>
</div>