<div class="login-container">
  <div class="login-content">
    
    <div class="header-section">
      <h1 class="app-title">Ébresztő Fesztivál</h1>
      <p class="subtitle">Jelentkezz be a folytatáshoz!</p>
    </div>

    <form class="form-section" (ngSubmit)="login()">
      
      @if (errorMessage) {
        <div class="alert error-message">
          <span class="material-icons">error_outline</span>
          {{ errorMessage }}
        </div>
      }

      @if (successMessage) {
        <div class="alert success-message">
          <span class="material-icons">check_circle_outline</span>
          {{ successMessage }}
        </div>
      }

      <div class="input-group">
        <label for="fullname">Teljes név</label>
        <div class="input-wrapper">
          <span class="material-icons">person</span>
          <input type="text" id="fullname" name="fullname" [(ngModel)]="name" placeholder="Pl. Minta János">
        </div>
      </div>

      <div class="input-group">
        <label for="password">Jelszó</label>
        <div class="input-wrapper">
          <span class="material-icons">lock</span>
          <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="••••••••">
        </div>
      </div>

      <button type="submit" class="btn-login" [disabled]="isLoading">
        {{ isLoading ? 'Kérlek várj...' : 'Bejelentkezés' }}
      </button>
      
    </form>
  </div>
</div>