<app-header></app-header>
<div class="dal-container">

    <section class="dal-section">
      <h2>1. Szentlélek jöjj, lobogó láng</h2>
      <div class="song-lyrics" ngPreserveWhitespaces> Szentlélek jöjj, lobogó láng,
  Szentlélek jöjj, a világ vár.
  Szentlélek jöjj, viharos szél,
  Jöjj, áradj szét.
  
  Jöjj el élő vízforrás,
  Jöjj, a szívünk Téged vár,
  Jöjj, ki fényt adsz lelkünknek,
  Jöjj, úgy vágyunk Rád.
  
  Jöjj igazság forrása,
  Jöjj, imádunk mindnyájan,
  Jöjj, reményünk éleszd fel,
  Jöjj kegyelmeddel.
  
  Jöjj, a néped gyűjtsd egybe,
  Jöjj, az alvót ébreszd fel,
  Jöjj, a bűntől tisztíts meg,
  Bátoríts minket.
      </div>
    </section>
    <section class="dal-section">
      <h2>2. Csendben állok</h2>
      <div class="song-lyrics" ngPreserveWhitespaces> Csendben állok, jelenlétedben
Tiszta színed keresem
Csendben állok, terád várok szüntelenül
Vágylak, Uram, megismerni még jobban

Uram a vágyam, hogy hangod halljam
Ismerni még jobban
Lelkem úgy várja, hogy arcod lássa
Ismerni még jobban

Gyorsan lépek, hátra nem nézek
Jutalom az ígéret
Futok egyre, az akadályt mind félreteszem
Célom csak egy: megismerni Téged
      </div>
    </section>
    
</div>