.dal-container
  padding: 20px
  padding-top: 40px


.dal-section
  margin-bottom: 32px

  h2
    color: #000000
    font-size: 22px
    margin-top: 0
    margin-bottom: 12px
    border-bottom: 1px solid #e0e0e0 
    padding-bottom: 8px
    font-style: italic

.song-lyrics
    color: #444444
    font-size: 16px
    line-height: 1.5 
    white-space: pre-line 
    font-style: italic 