<nav class="top-navbar">
  <a routerLink="/admin-profil" routerLinkActive="active" class="nav-item">
    <span class="nav-label">Résztvevők szerkesztése</span>
  </a>

  <a routerLink="/admin-muhely" routerLinkActive="active" class="nav-item">
    <span class="nav-label">Műhelyek szerkesztése</span>
  </a>

  <a routerLink="/admin-eloadas" routerLinkActive="active" class="nav-item">
    <span class="nav-label">Fő előadók szerkesztése</span>
  </a>

  <a routerLink="/admin-program" routerLinkActive="active" class="nav-item">
    <span class="nav-label">Programterv szerkesztése</span>
  </a>

  <a routerLink="/admin-info" routerLinkActive="active" class="nav-item">
    <span class="nav-label">Információk szerkesztése</span>
  </a>

  <a routerLink="/admin-dal" routerLinkActive="active" class="nav-item">
    <span class="nav-label">Dalok szerkesztése</span>
  </a>
</nav>
<div class="navbar-spacer"></div>
