<nav class="top-navbar">
  <a routerLink="/admin-profil" routerLinkActive="active" class="nav-item">
    <span class="material-icons">people</span>
    <span class="nav-label">Résztvevők</span>
  </a>

  <a routerLink="/admin-muhely" routerLinkActive="active" class="nav-item">
    <span class="material-icons">gite</span>
    <span class="nav-label">Műhelyek</span>
  </a>

  <a routerLink="/admin-eloadas" routerLinkActive="active" class="nav-item">
    <span class="material-icons">record_voice_over</span>
    <span class="nav-label">Fő előadók</span>
  </a>

  <a routerLink="/admin-program" routerLinkActive="active" class="nav-item">
    <span class="material-icons">event</span>
    <span class="nav-label">Programok</span>
  </a>

  <a routerLink="/admin-info" routerLinkActive="active" class="nav-item">
    <span class="material-icons">info</span>
    <span class="nav-label">Infók</span>
  </a>

  <a routerLink="/admin-dal" routerLinkActive="active" class="nav-item">
    <span class="material-icons">queue_music</span>
    <span class="nav-label">Dalok</span>
  </a>
</nav>
<div class="navbar-spacer"></div>
