.site-header
  width: 100%
  height: calc(max(10px, env(safe-area-inset-top)) + 10px + 22px + 3px + 15px)
  background-color: #ffffff
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden

.header-banner
  height: 100%
  width: auto
  display: block
