<nav class="bottom-navbar">
  <a routerLink="/menu" routerLinkActive="active" class="nav-item">
    <span class="material-icons">menu</span>
    <span class="nav-label">Menü</span>
  </a>

  <a routerLink="/program" routerLinkActive="active" class="nav-item">
    <span class="material-icons">event</span>
    <span class="nav-label">Programok</span>
  </a>

  <a routerLink="/muhely" routerLinkActive="active" class="nav-item">
    <span class="material-icons">gite</span>
    <span class="nav-label">Műhelyek</span>
  </a>

  <a routerLink="/dal" routerLinkActive="active" class="nav-item">
    <span class="material-icons">queue_music</span>
    <span class="nav-label">Dalok</span>
  </a>

  <a routerLink="/profil" routerLinkActive="active" class="nav-item">
    <span class="material-icons">person</span>
    <span class="nav-label">Fiók</span>
  </a>
</nav>