<div class="profile-container">

  @if (logoutMessage) {
    <div class="alert success-message" style="margin-bottom: 20px;">
      <span class="material-icons">check_circle_outline</span>
      {{ logoutMessage }}
    </div>
  }

  <section class="profile-card">
    <div class="avatar-container">
      <span class="material-icons avatar-icon">account_circle</span>
    </div>

    <div class="profile-details">
      <div class="detail-item">
        <span class="detail-label">Teljes név</span>
        <span class="detail-value">Szabó Márton</span>
      </div>

      <div class="detail-item">
        <span class="detail-label">Születési dátum</span>
        <span class="detail-value">2005. 08. 15.</span>
      </div>

      <div class="detail-item">
        <span class="detail-label">Neme</span>
        <span class="detail-value">Férfi</span>
      </div>

      <div class="detail-item">
        <span class="detail-label">Email</span>
        <span class="detail-value">csoki&#64;gmail.com</span>
      </div>

      <div class="detail-item">
        <span class="detail-label">Pozíció</span>
        <span class="detail-value">Résztvevő</span>
      </div>
    </div>

    <div class="action-buttons">
      <button class="btn-outline" type="button">
        Jelszó megváltoztatása
      </button>

      <button class="btn-logout" (click)="onLogout()">
        <span class="material-icons">logout</span>
        Kijelentkezés
      </button>
    </div>
  </section>

  <div class="my-workshops">
      <h2 class="section-title">Jelentkezéseim</h2>
      
      <div class="registered-workshop-card">
        <div class="day-badge">Péntek</div>
        <h3 class="workshop-title">Hogyan legyek boldog és sikeres a párkapcsolatban?</h3>
        <div class="workshop-info">
          <span class="material-icons">schedule</span> 10:00 - 12:00
        </div>
        <div class="workshop-info">
          <span class="material-icons">place</span> 1-es műhelysátor
        </div>
      </div>

      <div class="registered-workshop-card">
        <div class="day-badge">Szombat</div>
        <h3 class="workshop-title">Szentlélek és a mindennapok - Ima műhely</h3>
        <div class="workshop-info">
          <span class="material-icons">schedule</span> 10:00 - 12:00
        </div>
        <div class="workshop-info">
          <span class="material-icons">place</span> 3-as műhelysátor
        </div>
      </div>
    </div>
</div>